@import "badscriptcss.css";
.robot_name{
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 10em;
}

.robot_name span{
    display: table-cell;
    margin: 0;
    padding: 0;
    color : #fff;
        /* filter: blur(2px); */
        text-shadow: 0 0 10px #00b3ff,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 400px #00b3ff,
        0 0 300px #00b3ff;
}